# IDE-specific files
.idea/
.vscode/

# Python cache
__pycache__/

# Virtual environment
venv/

# Git (we don't need it in the Docker image)
.git/
.gitignore

# Operating system-specific files
.DS_Store
Thumbs.db